@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap');
/*
  --db-primary-violet: #5964E0;
  --db-primary-light-violet: #939BF4;
  --db-primary-dark-blue: #19202D;
  --db-primary-midnight: #121721;
  --db-secondary-white: #FFFFFF;
  --db-secondary-light-gray: #F4F6F8;
  --db-secondary-gray: #9DAEC2;
  --db-secondary-dark-gray: #6E8098;

*/
.dev-dashboard h1 {
  /* font size 28px */
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.dev-dashboard h2 {
  /* font size 24 px in rems */
  font-size: 1.5rem;
  line-height: 2rem;
}

.dev-dashboard h3 {
  /* font size 20 px in rems */
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.dev-dashboard h4 {
  /* font size 14 px in rems */
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dev-dashboard p {
  /* font size 16px in rems line height 18px */
  font-size: 18px;
  line-height: 26px;
  margin-top: 0;
}

.dev-dashboard {
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  /* height: calc(100vh - 40px); */
  transition: all 0.5s;
}

.dev-dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: var(--db-primary-violet);
  background-image: url(../../assets/db-assets/mobile/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  height: 161px;
  padding: 0 1.5rem;
  color: var(--db-secondary-white);
}

.toggle__wrapper {
  display: flex;
  align-items: center;
}

.dev-dashboard__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.dev-dashboard__search {
  /* the position has to be over the dev-dashboard-header */
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  border-radius: 6px;
  padding: 0 1rem;
  top: -70px;
  background-color: var(--db-fill);
}

.details {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;

  border-radius: 6px;
  padding: 0;
  top: -70px;
}

.details .logo {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  top: -25px;
  left: 42.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.company-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.company-header h1 {
  text-align: center;
}

.details-information {
  background-color: var(--db-fill);
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
}

.details-information > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.details-information h1 {
  font-size: 1.3rem;
}

.details-information ul {
  padding: 0;
  margin-left: 1rem;
}
ol {
  counter-reset: item;
  margin-left: 1rem;
}
ol li {
  display: flex;
}
ol li:before {
  content: counter(item) '  ';
  counter-increment: item;
  color: var(--db-primary-violet);
  margin-left: -1rem;
  margin-right: 0.5rem;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.details-information ul li::before {
  content: '\2022';
  color: var(--db-primary-violet);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.dev-dashboard__jobs {
  padding: 3rem 0.5rem;
}

.jobs-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;

  border-radius: 6px;
  padding: 1rem;
  background-color: var(--db-fill);
}

.card-icon {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  top: -35px;
  left: 1rem;
}

.dev-dashboard button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all 0.5s;
}

.custom-classname.react-toggle--checked .react-toggle-track {
  background-color: var(--db-secondary-white);
}

.custom-classname.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: var(--db-secondary-white);
}

.custom-classname.react-toggle--focus .react-toggle-thumb {
  box-shadow: none;
}

.react-toggle-thumb {
  background-color: var(--db-primary-light-violet) !important;
}

/* input[type='text'] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
} */

input[type='text']::placeholder {
  font-size: 14px;
}

form.search {
  border: 1px solid transparent;
  padding: 0;
  color: var(--db-form-color);
  display: flex;
  border-radius: 5px;
  width: 100%;
}

input.search__input {
  border: none;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background-size: 16px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input.icon__filter {
  background: var(--db-fill)
    url('../..//assets/db-assets/desktop/icon-filter.svg') no-repeat;
  background-position: 95% 50%;
}

input.icon__search {
  background: var(--db-fill)
    url('../..//assets/db-assets/desktop/icon-search.svg') no-repeat 8px center;
}

input.icon__location {
  background: var(--db-fill)
    url('../..//assets/db-assets/desktop/icon-location.svg') no-repeat 8px
    center;
}

.dev-dashboard__search label {
  font-size: 16px;
  margin: 0 10px;
  color: var(--text-secondary);
}

.db-button {
  border: none !important;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.btn-primary {
  background-color: var(--btn-bg-primary) !important;
  color: var(--db-secondary-white) !important;
}

.btn-secondary {
  background-color: var(btn-bg-secondary-color);
  color: var(--btn-secondary-color) !important;
}

.btn-secondary:hover {
  background-color: var(--btn-bg-secondary-color-hover) !important;
}

.btn-primary:hover {
  background-color: var(--btn-bg-primary-hover) !important;
}

.dev-job-link {
  text-decoration: none;
  color: var(--text-primary);
}

.dev-job-link:hover {
  color: inherit;
}

/* @media query */
@media (min-width: 768px) {
  .dev-dashboard__header {
    border-bottom-left-radius: 5rem;
    background-image: url(../../assets/db-assets/desktop/bg-pattern-header.svg);
    background-position: center;
    background-size: 150%;
    height: 161px;
    padding: 0 3.5rem;
  }

  .search-form-popup__wrapper {
    display: none;
  }

  .search-form__wrapper,
  .checkbox-input__wrapper {
    display: flex;
  }
  .company-header {
    /* flex spread center */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .details-information > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .details-information h1 {
    font-size: 2rem;
  }

  .details .logo {
    position: relative;
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
  }
}
