@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --invoice-gray-color: #f8f8fb;
  --invoice-dark-color: #141625;
  --invoice-purple-color: #7c5dfa;
  --invoice-light-purple-color: #9277ff;
  --invoice-medium-dark-purple-color: #1e2139;
  --invoice-dark-purple-color: #252945;
  --invoice-light-blue-color: #dfe3fa;
  --invoice-blue-color: #7e88c3;
  --invoice-medium-dark-blue-color: #888eb0;
  --invoice-dark-blue-color: #0c0e16;
  --invoice-light-red-color: #ff9797;
  --invoice-red-color: #ec5757;
}

/* color */

.invoice-txt-purple {
  color: var(--invoice-purple-color);
}

/* backround colors */

.invoice-bg-white {
  background-color: #fff;
}

/* Borders */

.invoice-circular-border {
  border-radius: 100%;
  border-color: transparent;
}

/* fills */

/* Buttons */

.invoice-btn {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  border-color: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  cursor: pointer;
  transition: all 1s ease;
}

.invoice-btn > div {
  padding: 1px;
  margin: 0 0.5rem 0 0;
  background-color: #fff;
  border-radius: 100%;
}

.btn__primary {
  background-color: var(--invoice-purple-color);
  color: #fff;
}

.btn__primary:hover {
  background-color: var(--invoice-light-purple-color);
}

.btn__warning {
  background-color: var(--invoice-red-color);
  color: #fff;
}

.btn__warning:hover {
  background-color: var(--invoice-light-red-color);
}
