@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --invoice-gray-color: #f8f8fb;
  --invoice-dark-color: #141625;
  --invoice-purple-color: #7c5dfa;
  --invoice-light-purple-color: #9277ff;
  --invoice-medium-dark-purple-color: #1e2139;
  --invoice-dark-purple-color: #252945;
  --invoice-light-blue-color: #dfe3fa;
  --invoice-blue-color: #7e88c3;
  --invoice-medium-dark-blue-color: #888eb0;
  --invoice-dark-blue-color: #0c0e16;
  --invoice-light-red-color: #ff9797;
  --invoice-red-color: #ec5757;
  --invoice-muted-gray-color: #f9fafe;
  --invoice-muted-dark-color: hsl(231, 20%, 27%);
  --invoic-muted-washed-color: hsl(231, 20%, 27%, 0.07);
  --invoice-white-color: #fff;
  --invoice-green-color: hsl(160, 67%, 52%);
  --invoice-green-washed-color: hsla(160, 67%, 52%, 0.07);
  --invoice-orange-color: hsl(34, 100%, 50%);
  --invoice-orange-washed-color: hsla(34, 100%, 50%, 0.07);
  --invoice-sidebar-color: #373b53;
}

[data-invoice-color='invoice-light'] {
  --button-edit-bg-color: var(--invoice-muted-gray-color);
  --button-edit-color: var(--invoice-blue-color);
  --button-edit-hover-bg-color: var(--invoice-light-blue-color);
  --button-edit-hover-color: var(--invoice-blue-color);
  --button-draft-bg-color: var(--invoice-muted-dark-color);
  --button-draft-color: var(--invoice-medium-dark-blue-color);
  --button-draft-hover-bg-color: var(--invoice-dark-blue-color);
  --button-draft-hover-color: var(--invoice-medium-dark-blue-color);
  /* background */
  --invoice-bg-color: var(--invoice-gray-color);
  --invoice-status-draft-bg-color: var(--invoic-muted-washed-color);
  --invoice-status-draft-color: var(--invoice-medium-dark-blue-color);
  /* card */
  --invoice-card-bg-color: var(--invoice-white-color);
  --invoice-card-id: var(--invoice-dark-color);
  --invoice-card-date: var(--invoice-blue-color);
  --invoice-card-client: var(--invoice-blue-color);
  --invoice-card-total: var(--invoice-dark-color);
}

[data-invoice-color='invoice-dark'] {
  --button-edit-bg-color: var(--invoice-dark-purple-color);
  --button-edit-color: var(--invoice-light-blue-color);
  --button-edit-hover-bg-color: var(--invoice-white-color);
  --button-edit-hover-color: var(--invoice-light-blue-color);
  --button-draft-bg-color: var(--invoice-muted-dark-color);
  --button-draft-color: var(--invoice-light-blue-color);
  --button-draft-hover-bg-color: var(--invoice-dark-purple-color);
  --button-draft-hover-color: var(--invoice-light-blue-color);
  /* background */
  --invoice-bg-color: var(--invoice-dark-color);
  --invoice-status-draft-bg-color: var(--invoice-muted-dark-color);
  --invoice-status-draft-color: var(--invoice-white-color);

  /* card */
  --invoice-card-bg-color: var(--invoice-medium-dark-purple-color);
  --invoice-card-id: var(--invoice-white-color);
  --invoice-card-date: var(--invoice-light-blue-color);
  --invoice-card-client: var(--invoice-light-blue-color);
  --invoice-card-total: var(--invoice-white-color);
}

/* main application wrapper */
.invoice-application {
  background-color: var(--invoice-bg-color);

  transition: background-color 0.5s ease;
}

/* color */

.invoice-txt-purple {
  color: var(--invoice-purple-color);
}

/* backround colors */

.invoice-bg-white {
  background-color: #fff;
}

/* Borders */

.invoice-circular-border {
  border-radius: 100%;
  border-color: transparent;
}

/* fills */

/* Buttons */

.invoice-btn {
  display: flex;
  align-items: center;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  border-color: transparent;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
  cursor: pointer;
  transition: all 1s ease;
}

.invoice-btn > div {
  padding: 1px;
  margin: 0 0.5rem 0 0;
  background-color: #fff;
  border-radius: 100%;
}

.btn__primary {
  background-color: var(--invoice-purple-color);
  color: #fff;
}

.btn__primary:hover {
  background-color: var(--invoice-light-purple-color);
}

.btn__warning {
  background-color: var(--invoice-red-color);
  color: #fff;
}

.btn__warning:hover {
  background-color: var(--invoice-light-red-color);
}

.btn__edit {
  background-color: var(--button-edit-bg-color);
  color: var(--button-edit-color);
}

.btn__edit:hover {
  background-color: var(--button-edit-hover-bg-color);
  color: var(--button-edit-hover-color);
}

.btn__draft {
  background-color: var(--button-draft-bg-color);
  color: var(--button-draft-color);
}

.btn__draft:hover {
  background-color: var(--button-draft-hover-bg-color);
  color: var(--button-draft-hover-color);
}

.btn__add-new-item {
  background-color: var(--invoice-muted-gray-color);
  color: var(--invoice-blue-color);
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.btn__add-new-item:hover {
  background-color: var(--invoice-light-blue-color);
}

/* InvoiceCard component */

.invoice-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--invoice-card-bg-color);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.invoice-card__id {
  color: var(--invoice-card-id);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.025rem;
}

.invoice-card__id::before {
  content: '#';
  color: var(--invoice-blue-color);
}

.invoice-card__date {
  color: var(--invoice-card-date);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.invoice-card__client {
  color: var(--invoice-card-client);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.invoice-card__total {
  font-size: 19px;
  font-weight: 700;
  color: var(--invoice-card-total);
}

.invoice-card__total::before {
  content: '£';
}

.invoice-card__status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin: 0 1rem 0 0;
  min-width: 124px;
}

.state-paid::before,
.state-pending::before,
.state-draft::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.state-paid::before {
  background-color: var(--invoice-green-color);
}

.state-pending::before {
  background-color: var(--invoice-orange-color);
}

.state-draft::before {
  background-color: var(--invoice-status-draft-color);
}

.state-paid {
  background-color: var(--invoice-green-washed-color);
  color: var(--invoice-green-color);
}

.state-pending {
  background-color: var(--invoice-orange-washed-color);
  color: var(--invoice-orange-color);
}

.state-draft {
  background-color: var(--invoice-status-draft-bg-color);
  color: var(--invoice-status-draft-color);
}

.invoice-card-chevron {
  color: var(--invoice-purple-color);
  cursor: pointer;
}

/* side bar */

.invoice-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 103px;
  height: 100vh;
  background-color: var(--invoice-sidebar-color);

  border-radius: 0 1rem 1rem 0;
}

.invoice-sidebar__logo {
  background-color: var(--invoice-purple-color);
  width: 100%;
  height: 103px;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invoice-sidebar__logo img {
  width: 40px;
  height: 40px;
  z-index: 6;
  position: absolute;
}

.invoice-sidebar__logo-fill {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--invoice-light-purple-color);
  top: 25%;
  border-radius: 1rem 0 1rem 0;
}

.invoice-sidebar__footer-icon {
  color: var(--invoice-blue-color);
  font-size: 1.3rem;
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.invoice-sidebar__footer hr {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid var(--invoice-blue-color);
}

.invoice-sidebar__footer-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 1rem 0 1rem 0;
}

/* no innvoices component */
.no-invoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-invoices h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--invoice-dark-blue-color);
  margin: 0 0 1rem 0;
}

.no-invoices p {
  font-size: 1rem;
  font-weight: 200;
  color: var(--invoice-medium-dark-blue-color);
  margin: 0 0 1rem 0;
}

.no-invoices span {
  font-weight: bolder;
}
