@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: rgb(45, 39, 39);
  --accent: rgb(255, 123, 0);
}

/* Navigation */
.active {
  color: var(--accent);
  text-decoration: none;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 2px;
}

li > a::after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background: transparent;
  transition: width 0.3s;
}

li > a:hover::after,
li > a.active::after {
  width: 100%;
  margin-top: 3px;
  background: var(--accent);
}

/* profile */
.profile {
  height: 200px;
  width: 150px;
}

/* header */
.header-img {
  background-image: url('../../public/assets/sorts/project.png');
  /* set background-size to cover */
  background-size:200%;
  /* set background-position to center */
  background-position: center;
  /* set background-repeat to no-repeat */
  background-repeat: no-repeat;
}

.connect-section {
  min-height: 300px;
}

.blog-cards {
  height: 400px;
  overflow-y: scroll;
}
