@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: rgb(45, 39, 39);
  --accent: rgb(255, 123, 0);
}

/* Navigation */
.active {
  color: var(--accent);
  text-decoration: none;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 2px;
}

li > a::after {
  content: '';
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background: transparent;
  transition: width 0.3s;
}

li > a:hover::after,
li > a.active::after {
  width: 100%;
  margin-top: 3px;
  background: var(--accent);
}

/* profile */
.profile {
  height: 200px;
  width: 150px;
}

/* header */
.header-img {
  background-image: url('../../public/assets/sorts/project.png');
  /* set background-size to cover */
  background-size:200%;
  /* set background-position to center */
  background-position: center;
  /* set background-repeat to no-repeat */
  background-repeat: no-repeat;
}

.connect-section {
  min-height: 300px;
}

.blog-cards {
  height: 400px;
  overflow-y: scroll;
}

/* divider */
.divider {
  background-image:linear-gradient(128.87deg, rgb(81, 43, 212) 14.05%, rgb(214, 0, 170) 89.3%);
  border-radius: 32px;
  height: 20px;
  margin: 30px 5px 10px 5px;
}

/* Overlay */
._overlay {
  /* set position to relative */
  position: relative;
  /* set width to 100% */
  width: 100%;
  /* set height to 100% */
  height: 100%;
  /* set background-color to rgba(0, 0, 0, 0.5) */
  background-color: rgba(0, 0, 0, 0.5);
  /* set display to flex */
  display: flex;
  /* set justify-content to center */
  justify-content: center;
  /* set align-items to center */
  align-items: center;
}
._overlay {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
._overlay:hover {
  background-color: rgba(131, 6, 125, 0.898);
}