@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: rgb(90, 40, 255);
  --accent: rgb(200, 109, 18);
  --muted-color: rgb(61, 239, 230);
  --light-gray: rgb(0, 0, 0);
  --light-color: rgb(209, 209, 209);
  --primary-color: rgb(206, 12, 209);
  
}

/* code blocks */ 
p code {
  background-color: var(--light-gray);
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: var(--muted-color);
  font-style: italic;
}

.code-block {
  font-size: 14px;
  line-height: 1.5;
  margin: 18px 0;
}

code span.token {
  color:var(--muted-color) !important;
}

.code-block code:first-child {
  color: var(--light-color);
}

.code-block code {
  font-size: 0.875em;
  color: var(--light-color);
  word-wrap: break-word;
}

.code-block span {
  font-family: 'Fira Code', monospace;
}

.code-block span.token {
  color: var(--primary-color);
}

.code-block span.token.property {
  color: #e10025;
}

.code-block button {
  color: var(--light-color);
}

/* Navigation */
.active {
  color: var(--accent);
  text-decoration: none;
}

nav a.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  letter-spacing: 2px;
  flex: 1;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

nav a:hover.nav-link {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 2px solid var(--accent);
}

nav a.active.nav-link {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 2px solid var(--accent);
}

/* profile */
.profile {
  height: 200px;
  width: 150px;
}

/* header */
.header-img {
  background-image: url("../../public/assets/sorts/project.png");
  /* set background-size to cover */
  background-size: 200%;
  /* set background-position to center */
  background-position: center;
  /* set background-repeat to no-repeat */
  background-repeat: no-repeat;
}

.connect-section {
  min-height: 300px;
}

.blog-cards {
  height: 400px;
  overflow-y: scroll;
}

/* divider */
.divider {
  background-image: linear-gradient(128.87deg,
      rgb(81, 43, 212) 14.05%,
      rgb(214, 0, 170) 89.3%);
  border-radius: 32px;
  height: 20px;
  margin: 30px 5px 10px 5px;
}

/* project card */
._project-card {
  height: 150px;
  background-size: cover;
}

/* Overlay */
._overlay {
  /* set position to relative */
  position: relative;
  /* set width to 100% */
  width: 100%;
  /* set height to 100% */
  height: 100%;
  /* set background-color to rgba(0, 0, 0, 0.5) */
  background-color: rgba(0, 0, 0, 0.5);
  /* set display to flex */
  display: flex;
  /* set justify-content to center */
  justify-content: center;
  /* set align-items to center */
  align-items: center;
}

._overlay {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.71);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

._overlay:hover {
  background-color: rgba(131, 6, 125, 0.898);
}