@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #f00;
  --secondary-color: #0f0;
  --tertiary-color: #00f;
  --dark-color: #333;
  --light-color: #fff;
  --light-gray: hsl(0, 0%, 98%);
  --highlight-color: hsl(133, 100%, 68%);
  --background: #f4f6f8;
  --text-primary: #19202d;
  --text-secondary: grey;
  --accent: purple;
  --db-primary-violet: #5964e0;
  --db-primary-light-violet: #939bf4;
  --db-primary-dark-blue: #19202d;
  --db-primary-midnight: #121721;
  --db-secondary-white: #ffffff;
  --db-secondary-light-gray: #f4f6f8;
  --db-secondary-gray: #9daec2;
  --db-secondary-dark-gray: #6e8098;
  --db-fill: #fff;
  --db-btn: #5964e0;
  --db-btn-hover: #939bf4;
  --db-form-color: #555;
  --btn-bg-primary: #5964e0;
  --btn-bg-primary-hover: #939bf4;
  --btn-bg-secondary-color: #eeeffc;
  --btn-secondary-color: #5964e0;
  --btn-bg-secondary-color-hover: #c5c9f4;
  --dark-space-blue: #00001a;
  --yellow: #e9a952;
  /* pomodoro project */
  --pomodoro-primary: #fff;
  --pomodoro-secondary: #1e213f;
  --pomodoro-gray: #d7e0ff;
  --pomodoro-muted: #979797;
}

/* theme color */
[data-theme='system'] {
  --pomodoro-alert: hsl(0, 91%, 71%);
  --pomodoro-alert-hover: hsla(0, 91%, 71%, 0.558);
  --font-family: 'Kumbh Sans', sans-serif;
}

[data-theme='roboto'] {
  --font-family: 'Roboto Slab', serif;
  --pomodoro-alert: hsl(182, 91%, 71%);
  --pomodoro-alert-hover: hsla(182, 91%, 71%, 0.558);
}

[data-theme='mono'] {
  --font-family: 'Space Mono', monospace;
  --pomodoro-alert: hsl(284, 89%, 74%);
  --pomodoro-alert-hover: hsla(284, 89%, 74%, 0.558);
}

[data-theme='dark'] {
  --btn-bg-primary: #5964e0;
  --btn-bg-secondary-color: #303642;
  --btn-secondary-color: #fff;
  --btn-bg-secondary-color-hover: #696e76;
  --db-btn: #303642;
  --db-btn-hover: #696e76;
  --db-fill: #19202d;
  --background: #121721;
  --text-primary: #fff;
  --text-secondary: grey;
  --accent: darkred;
}

/* font weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

.heading-xl {
  font-size: 3.7rem;
  font-weight: 100;
}

.heading-lg {
  font-size: 2.5rem;
  font-weight: 800;
}

/* text color */
.text-white {
  color: var(--light-color);
}

.text-primary {
  color: var(--text-primary);
}

.text-dark-gray {
  color: var(--db-secondary-dark-gray);
}

.text-violet {
  color: var(--db-primary-violet);
}

.text-yellow {
  color: var(--yellow);
}

.text-muted {
  color: var(--muted);
}

/* line height */
.line-height-1 {
  line-height: 1;
}

.line-height-1-25 {
  line-height: 1.25;
}

/* utils */
.bg-1 {
  background-color: var(--primary-color);
}

.bg-2 {
  background-color: var(--secondary-color);
}

.bg-3 {
  background-color: var(--tertiary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-fill {
  background-color: var(--db-fill);
}

.bg-dark-space-blue {
  background-color: var(--dark-space-blue);
}

.bg-soft-gray {
  background-color: var(--db-secondary-light-gray);
}

/* height and widht */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mobile-w-100 {
  width: 100%;
}

.vh-100 {
  min-height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.mx-width-1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.w-33 {
  width: 33.3333333333%;
}

/* padding, margin */

.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-l {
  padding-left: 1rem;
}

.p-r {
  padding-right: 1rem;
}

.p-t {
  padding-top: 1rem;
}

.p-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-x-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-x-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.m-t {
  margin-top: 0.5rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-l {
  margin-left: 0.5rem;
}

.m-r {
  margin-right: 0.5rem;
}

.m-b {
  margin-bottom: 0.5rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

/* text */

.text-center {
  text-align: center;
}

/* centering */

/* flex */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-spread-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

/* border */
.border-rigth {
  border-right: none;
}

.border_bottom {
  border-bottom: 1px solid var(--db-secondary-dark-gray);
}

/* base */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;

  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

/* links */

.no-decoration {
  text-decoration: none !important;
  color: var(--dark-color);
}

.no-decoration:hover {
  text-decoration: none !important;
  color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* display */
.display-mobile {
  display: flex;
}

.display-desktop {
  display: none;
}

/* unstyled links */
.unstyled-link {
  text-decoration: none;
  color: inherit;
}

/* if the button is disabled use not allowed cursor */
.disabled {
  cursor: not-allowed !important;
}

@media (min-width: 768px) {
  .mobile-w-100 {
    /* reset the width */
    width: auto;
  }
  .display-mobile {
    display: none;
  }

  .display-desktop {
    display: flex;
  }

  .border-rigth {
    border-right: 1px solid var(--db-secondary-gray);
  }

  .desktop-flex-spread-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
