@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap');

.bg-darkest {
  background-color: var(--pomodoro-secondary);
}

.bg-light {
  background-color: var(--pomodoro-primary);
}

.bg-gray {
  background-color: var(--pomodoro-gray);
}

.bg-muted {
  background-color: var(--pomodoro-muted);
}

.pomodoro-project {
  font-family: var(--font-family) !important;
}

.pomodoro-project .text-light {
  color: var(--pomodoro-primary);
}

.progress-bar__button {
  margin-top: 40%;
  color: var(--pomodoro-gray) !important;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  border: none;
}

.progress-bar__button:hover {
  color: var(--pomodoro-primary) !important;
}

.progress-bar__button:active {
  color: var(--pomodoro-violet);
  background-color: none;
  border: none;
}

.CircularProgressbar-path {
  stroke: var(--pomodoro-alert) !important;
}

.CircularProgressbar-trail {
  stroke: var(--pomodoro-secondary) !important;
}

.pomodoro-button {
  color: var(--pomodoro-muted);
  background-color: transparent;
  border: none;
  border-radius: 1.3rem;
  padding: 0.5rem;
  font-size: 14px;
}

.alert-color {
  background-color: var(--pomodoro-alert) !important;
}

.pomodoro-button:hover {
  background-color: var(--pomodoro-alert-hover);
  color: var(--pomodoro-primary);

  transition: background-color 0.5s ease-in-out;
}

.pomodoro-button.selected {
  color: var(--pomodoro-secondary) !important;
  background-color: var(--pomodoro-alert) !important;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161932;
  border-radius: 1.3rem;
  padding: 0.5rem 1rem;
  width: 100%;
  margin: 2rem 1rem;
}

.pomodoro-project__timer {
  background-color: var(--pomodoro-secondary);
  border-radius: 50%;
  padding: 1rem;
  box-shadow: var(--pomodoro-secondary) 3px 3px 6px 0px inset,
    var(--pomodoro-muted) -3px -3px 6px 1px inset,
    rgba(137, 137, 137, 0.4) 0px 30px 90px;
}

.pomodoro-project__wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._btn {
  background-color: var(--pomodoro-alert) !important;
  color: var(--pomodoro-primary) !important;
  border: none;
  border-radius: 1.3rem;
  padding: 0.5rem 1rem;
  font-size: 14px;
  transition: background-color 0.5s ease-in-out;
}

._btn:hover {
  background-color: var(--pomodoro-alert-hover) !important;
  color: var(--pomodoro-primary) !important;
  transition: background-color 0.5s ease-in-out;
}

.absolute-bottom-edge-position {
  position: absolute;
  bottom: -33px;
  margin: 1rem;
}

@media (min-width: 768px) {
  .pomodoro-project__wrapper {
    width: 400px;
    height: 400px;
  }
}
